/* шрифты */
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff') format('woff');
  src: url('../fonts/gilroylight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff') format('woff');
  src: url('../fonts/gilroyextrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff') format('woff');
  src: url('../fonts/opensans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.woff') format('woff');
  src: url('../fonts/opensanslight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* Глобальные стили */

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Geneva', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  background-color: #fff;
}

.vis-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  display: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Хедер */

.page-header {
  display: flex;
  flex-direction: column;
  width: 1160px;
  height: 299px;
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: -129px;
  background-color: rgba(240,197,46, .5);
  color: #000000;
}

.header-top-wrapper {
  display: flex;
  width: 1160px;
  padding-top: 53px;
  padding-left: 63px;
  padding-right: 61px;
  margin-bottom: 54px;
  margin: 0;
  justify-content: space-between;
}

/* Лого */

.page-header .logo {
  position: absolute;
  top: -19px;
  left: 60px;
}

/* .page-footer .logo {
  position: absolute;
  top: 40px;
  left: 140px;
} */

/* Меню */

.auth-header,
.auth-footer,
.menu,
.catalog-button {
  list-style: none;
}

.search {
  display: flex;
  position: relative;
}

.auth-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 499px;
}

.auth-header li:first-child{
  margin-right: 218px;
}

.input-search {
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
  opacity: .3;
}

.input-search:hover {
  opacity: .6;
}

.input-search:focus {
  opacity: 1;
}

.auth-header a {
  color: inherit;
}

.navigation-header {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  position: relative;
  padding-left: 60px;
  padding-right: 61px;
}

.catalog-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 499px;
}

.menu-header li:last-child {
  margin-left: 114px;
}

.navigation-header a,
.menu a {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: inherit;
  text-transform: uppercase;
}

.navigation-header a:hover,
.menu a:hover,
.navigation-header a:focus,
.menu a:focus,
.logo:hover,
.logo:focus {
  opacity: .6;
}

.navigation-header a:active,
.menu a:active,
.logo:active {
  opacity: .3;
}

/* Секции */

.container {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.about-contacts-wrapper {
  display: flex;
  flex-direction: row;
}

.about {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 93px;
  width: 50%;
  position: relative;
}

.about h2 {
font-family: 'Gilroy', 'Arial', sans-serif;
  color: #000000;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  margin-top: 52px;
  margin-bottom: 59px;
}

.about p {
  color: inherit;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}

.about p:first-of-type {
  margin-bottom: 30px;
}

.about ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 60px;
  padding-left: 35px;
}

.about li {
font-family: 'Gilroy', 'Arial', sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
}

.about .button {
  margin-top: 80px;
}

.contacts {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  margin-left: 40px;
}

.contacts h2 {
font-family: 'Gilroy', 'Arial', sans-serif;
color: #000000;
font-size: 47px;
font-weight: 800;
line-height: 48px;
margin-top: 52px;
margin-bottom: 59px;
}

.contacts p {
  color: inherit;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.contacts .button {
  margin-top: 83px;
}

/* Футер */

.page-footer {
  position: relative;
  background-color: #464646;
  color: #fff;
  padding-top: 65px;
  padding-bottom: 65px;
}

.footer-top-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.auth-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 325px;
}

.auth-footer a {
  line-height: 36px;
  color: inherit;
  opacity: .7;
}

.auth-footer a:hover,
.auth-footer a:focus {
  opacity: 1;
}

.auth-footer a:active {
  opacity: .3;
}

.logoff a {
  opacity: .3;
}

.footer-middle-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
  align-self: center;
}

.footer-middle-wrapper .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 423px;
}

.footer-bottom-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 65px;
}

.footer-bottom-wrapper::before {
  content: '';
  border-bottom: 7px solid #ffc600;
  height: 7px;
  width: 80px;
}

.social {
  list-style: none;
  opacity: .3;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social li {
  margin-right: 22px;
}

.social a:hover,
.social a:focus {
  opacity: .6;
}

.social a:acitve {
  opacity: .1;
}

.htmlacademy-link:hover,
.htmlcademy-link:focus {
  opacity: .6;
}

.htmlacademy-link:active {
  opacity: .3;
}

.catalog-group-title {
  color: #000000;
font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
  opacity: .3;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.breadcrumbs a:hover {
  opacity: .6;
}

.filter {
  background-color: #eeeeee;
}

.filter h2 {
  color: #000000;
font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
}

.filter legend {
  color: #000000;
font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.filter label {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
}

.filter fieldset {
  border: none;
}

.catalog-items-list {
  list-style: none;
}

.catalog-item span {
  color: #000000;
font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.catalog-item-price {
  color: inherit;
font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.slider-list {
  list-style: none;
}

.slider-list-item h3 {
font-family: 'Gilroy', 'Arial', sans-serif;
  color: #000;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
}

.slider-list-item p {
  color: #464646;
}

.slider-list-item span {
font-family: 'Gilroy', 'Arial', sans-serif;
  color: #fff;
  background-color: rgba(240,197,46, .5);
  font-size: 179px;
  font-weight: 800;
  line-height: 179.2px;
}

.features tr:first-child   {
font-family: 'Gilroy', 'Arial', sans-serif;
  color: #000000;
  font-size: 36px;
  line-height: 48px;
}

.features tr:last-child {
 color: #464646;
 font-size: 13px;
 font-weight: 300;
 line-height: 20px;
}

.products ul {
  list-style: none;
}


.products-item span {
font-family: 'Gilroy', 'Arial', sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.products-item span:active {
  opacity: .3;
}

.services {
  background: #e5e5e5;
}

.services ul {
  list-style: none;
}

.services-item h3 {
font-family: 'Gilroy', 'Arial', sans-serif;
  color: #000000;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
}

.partners ul {
  list-style: none;
}

.sort h2 {
font-family: 'Gilroy', 'Arial', sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
}

.sort ul {
  list-style: none;
}

.sort button {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: .3;
  border: none;
  background: transparent;
}

.sort .button-active {
  opacity: 1;
}

.catalog-navigation,
.pagination-list {
  list-style: none;
}

.catalog-navigation a {
font-family: 'Gilroy', 'Arial', sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 1;
}

.pagination-item a {
  opacity: .3;
}

.pagination-item-current a {
  opacity: 1;
}

.pagination-step a:active {
  opacity: .3;
}
/* Не знаю стоит ли делать сейчас наведение с иконками партнеров */





