/* шрифты */
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff') format('woff');
  src: url('../fonts/gilroylight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff') format('woff');
  src: url('../fonts/gilroyextrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff') format('woff');
  src: url('../fonts/opensans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.woff') format('woff');
  src: url('../fonts/opensanslight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* Глобальные стили */

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  background-color: #fff;
}

.vis-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  display: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Хедер */

.page-header {
  background-color: rgba(240,197,46, .5);
  color: #000000;
}

.auth-header,
.auth-footer,
.menu,
.catalog-button {
  list-style: none;
}

.logo {
  width: 163px;
  height: 35px;
}

.search {
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
  opacity: .3;
  letter-spacing: 0.15px;

}

.search:hover {
  opacity: .6;
}

.search:focus {
  opacity: 1;
}

.auth-header a {
  color: inherit;
  letter-spacing: 0.15px;
}

.navigation-header a,
.menu a {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: inherit;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.navigation-header a:hover,
.menu a:hover,
.navigation-header a:focus,
.menu a:focus,
.logo:hover,
.logo:focus {
  opacity: .6;
}

.navigation-header a:active,
.menu a:active,
.logo:active {
  opacity: .3;
}

.about {
  background-color: #fff;
}

.about h2 {
  font-family: 'Gilroy', sans-serif;
  color: #000000;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.21px;
}

.about p {
  color: inherit;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.about ul {
  list-style: none;
}

.about li {
  font-family: 'Gilroy', sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
}

.contacts {
  background-color: #fff;
}

.contacts h2 {
  font-family: 'Gilroy', sans-serif;
  color: #000000;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.21px;
}

.contacts p {
  color: inherit;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.page-footer {
  background-color: #464646;
  color: #fff;
}

.auth-footer a {
  line-height: 36px;
  color: inherit;
  opacity: .7;
  letter-spacing: 0.15px;
}

.auth-footer a:hover,
.auth-footer a:focus {
  opacity: 1;
}

.auth-footer a:active {
  opacity: .3;
}

.logoff a {
  opacity: .3;
}

.social {
  list-style: none;
  opacity: .3;
}

.social a:hover,
.social a:focus {
  opacity: .6;
}

.social a:acitve {
  opacity: .1;
}

.htmlacademy-link:hover,
.htmlcademy-link:focus {
  opacity: .6;
}

.htmlacademy-link:active {
  opacity: .3;
}

.catalog-group-title {
  color: #000000;
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.17px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
  opacity: .3;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;
}

.breadcrumbs a:hover {
  opacity: .6;
}

.filter {
  background-color: #eeeeee;
}

.filter h2 {
  color: #000000;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.filter legend {
  color: #000000;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.filter label {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.filter fieldset {
  border: none;
}

.catalog-items-list {
  list-style: none;
}

.catalog-item span {
  color: #000000;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.catalog-item-price {
  color: inherit;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.slider-list {
  list-style: none;
}

.slider-list-item h3 {
  font-family: 'Gilroy', sans-serif;
  color: #000;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.17px;
}

.slider-list-item p {
  color: #464646;
  letter-spacing: 0.15px;
}

.slider-list-item span {
  font-family: 'Gilroy', sans-serif;
  color: #fff;
  background-color: rgba(240,197,46, .5);
  font-size: 179px;
  font-weight: 800;
  line-height: 179.2px;
  letter-spacing: 0.36px;
}

.features tr:first-child   {
  font-family: 'Gilroy', sans-serif;
  color: #000000;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.features tr:last-child {
 color: #464646;
 font-size: 13px;
 font-weight: 300;
 line-height: 20px;
 letter-spacing: 0.13px;
}

.products ul {
  list-style: none;
}


.products-item span {
  font-family: 'Gilroy', sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.products-item span:active {
  opacity: .3;
}

.services {
  background: #e5e5e5;
}

.services ul {
  list-style: none;
}

.services-item h3 {
  font-family: 'Gilroy', sans-serif;
  color: #000000;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.21px;
}

.partners ul {
  list-style: none;
}

.sort h2 {
  font-family: 'Gilroy', sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.sort ul {
  list-style: none;
}

.sort button {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: .3;
  border: none;
  background: transparent;
}

.sort .button-active {
  opacity: 1;
}

.catalog-navigation,
.pagination-list {
  list-style: none;
}

.catalog-navigation a {
  font-family: 'Gilroy', sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
  opacity: 1;
}

.pagination-item a {
  opacity: .3;
}

.pagination-item-current a {
  opacity: 1;
}

.pagination-step a:active {
  opacity: .3;
}
/* Не знаю стоит ли делать сейчас наведение с иконками партнеров */





