/* шрифты */
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff') format('woff');
  src: url('../fonts/gilroylight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff') format('woff');
  src: url('../fonts/gilroyextrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff') format('woff');
  src: url('../fonts/opensans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.woff') format('woff');
  src: url('../fonts/opensanslight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* Глобальные стили */

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Geneva', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  background-color: #fff;
  letter-spacing: 0.15px;
}

.vis-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Хедер */

.container {
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 197, 46, .5);
  color: #000000;
  margin-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 47px;
}

.main .page-header {
  min-height: 300px;
}

.inner-page .page-header {
  margin-bottom: 38px;
}

.header-top-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.logo-header-wrapper {
  margin-top: -18px;
  line-height: 0px;
  margin-bottom: 18px;
}

.logo {
  display: inline-block;
}

.auth-header,
.auth-footer,
.menu,
.catalog-list,
.catalog-menu,
.catalog-menu-col {
  list-style: none;
}


.auth-header {
  display: flex;
  width: 500px;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: baseline;
}


.auth-header a:hover,
.auth-header a:focus {
  opacity: .6;
}

.auth-header a:active {
  opacity: .3;
}



.auth-login a::before {
  content: '';
  position: relative;
  background-image: url('../img/svg/user.svg');
  display: inline-block;
  background-repeat: no-repeat;
  height: 12px;
  width: 13px;
  margin-right: 13px;
}

.auth-compare a::before {
  content: '';
  position: relative;
  background-image: url('../img/svg/compare.svg');
  display: inline-block;
  background-repeat: no-repeat;
  height: 10px;
  width: 10px;
  margin-right: 10px;
}

.auth-cart a::before {
  content: '';
  position: relative;
  background-image: url('../img/svg/cart.svg');
  display: inline-block;
  background-repeat: no-repeat;
  height: 12px;
  width: 12px;
  margin-right: 12px;
}

.auth-login {
  margin-right: auto;
}

.auth-compare {
  margin-right: 41px;
}

.authorized .auth-login {
  margin-right: 20px;
}

.authorized .auth-logoff {
  margin-right: auto;
}

.authorized .auth-compare {
  margin-right: 40px;
}

.auth-logoff {
  opacity: .3;
}

.search-form {
  position: relative;
  display: flex;
  width: 440px;
}

.search-form::before {
  content: '';
  background-image: url('../img/svg/search.svg');
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
  align-self: center;
  position: absolute;
  left: 3px;
}

.search {
  font: inherit;
  margin: 0;
  padding: 0;
  opacity: .3;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 40px;
  width: 355px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 2px solid transparent;
  letter-spacing: 0.15px;
}

.search-button {
  color: #000000;
  display: none;
  width: 85px;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 2px solid #000000;
  text-align: center;
  background-color: transparent;
  outline: none;
}

.search-button:hover,
.search-button:focus {
  color: #fff;
  background-color: #000000;
}

.search-button:active {
  display: block;
}

.search-button:active .search-button-text {
  opacity: .3;
}

.search:hover,
.search:focus {
  opacity: .6;
}

.search:focus {
  opacity: 1;
  border-bottom-color: #000000
}

.search:focus+.search-button {
  display: block;
}

.auth-header a {
  color: inherit;
}

.navigation-header {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.menu-header {
  display: flex;
  padding: 0;
  margin: 0;
  width: 500px;
}

.menu-header .menu-delivery {
  margin-right: 76px;
}

.menu-header .menu-harranty {
  margin-right: auto;
}

.navigation-header a,
.menu a {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.navigation-header a:hover,
.menu a:hover,
.navigation-header a:focus,
.menu a:focus,
.logo:hover,
.logo:focus {
  opacity: .6;
}

.navigation-header a:active,
.menu a:active,
.logo:active {
  opacity: .3;
}

.catalog-menu-button {
  display: flex;
}

.catalog-menu-button::after {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url('../img/svg/plus.svg');
  align-self: center;
  margin-left: 16px;
  opacity: .3;
}

.catalog-menu {
  display: none;
  position: absolute;
  z-index: 2;
  padding: 0;
  margin: 0;
  padding-left: 60px;
  padding-top: 17px;
  padding-bottom: 41px;
  background-color: #f7e296;
  width: 1160px;
  left: 0px;
}

.catalog-menu a {
  font-family: 'Open Sans', 'Geneva', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  text-transform: none;
  letter-spacing: 0.15px;
}

.catalog-menu li:not(:last-child) {
  margin-right: 35px;
}

.catalog-list {
  padding: 0;
  margin: 0;
}

.catalog-menu-col {
  padding: 0;
  margin: 0;
}

.catalog-menu-wrapper:hover .catalog-menu,
.catalog-menu-wrapper:focus .catalog-menu {
  display: flex;
}

.section-columns {
  display: flex;
}

.sections-colums .button {
  width: 260px;
}

.about {
  position: relative;
  background-color: #fff;
  width: 50%;
  margin-right: 40px;
  padding-top: 52px;
}

.section-columns h2 {
  margin: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  color: #000000;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 43px;
  letter-spacing: 0.21px;
}

.about p {
  margin: 0;
  color: inherit;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

.about p:first-of-type {
  margin-bottom: 30px;
}

.about ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 64px;
  padding-left: 36px;
  margin-bottom: 56px;
}

.about li {
  font-family: 'Gilroy', 'Arial', sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
}

.contacts {
  position: relative;
  background-color: #fff;
  width: 50%;
  padding-top: 52px;
}

.contacts p {
  margin: 0;
  color: inherit;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 40px;
}

.about::before,
.contacts::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.open-map img {
  margin-bottom: 59px;
}

.main-wrapper-top {
  display: flex;
  flex-direction: column;
  padding-left: 61px;
}

.catalog-group-title {
  color: #000000;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  padding: 0;
  margin: 0;
  font-weight: 800;
  line-height: 48px;
  margin-bottom: 20px;
  letter-spacing: 0.17px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 381px;
  height: 14px;
  justify-content: space-between;
  margin-bottom: 60px;
}

.breadcrumbs li:not(:last-child)::after {
  content: '';
  width: 4px;
  height: 7px;
  background-image: url('../img/svg/nav-arrow.svg');
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-left: 15px;
}

.breadcrumbs a {
  color: #000000;
  opacity: .3;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.14px;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: .6;
}

.item-description-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  margin-bottom: 24px;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-content-header {
  font-family: 'Gilroy', 'Arial', sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  margin-top: -88px;
  margin-bottom: 19px;
  letter-spacing: 0.17px;
}

.slider-content-text {
  color: #464646;
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
}

.slide-number {
  font-family: 'Gilroy', 'Arial', sans-serif;
  color: #fff;
  font-size: 179.2px;
  font-weight: 800;
  line-height: 179.2px;
  align-self: flex-end;
  margin-right: -11px;
  margin-top: -12px;
  letter-spacing: 0.36px;
}

.features {
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.features-header {
  font-family: 'Gilroy', 'Arial', sans-serif;
  color: #000000;
  font-size: 36px;
  line-height: 48px;
}

.features-description {
  color: #464646;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.features-description td {
  padding-right: 75px;
}

.features-description td:last-child {
  padding-right: 0;
}

.products {
  margin-bottom: 177px;
}

.products ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.products-item-wrapper {
  display: flex;
  flex-direction: column;
}


.products-item-header {
  font-family: 'Gilroy', 'Arial', sans-serif;
  color: #000000;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  order: 2;
  margin: 0;
  letter-spacing: 0.18px;
}

.products-image-wrapper {
  background-color: #f7e296;
  width: 160px;
  height: 160px;
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.products-item:nth-child(2) .products-image-wrapper {
  align-items: flex-end;
}

.products-item-link:hover .products-image-wrapper,
.products-item-link:focus .products-image-wrapper {
  background-color: #f0c52e;
}

.products-item-link:active .products-item-header,
.products-item-link:active .products-item-image {
  opacity: .3;
}

.partners ul {
  list-style: none;
}

.carousel {
  position: relative;
  margin-bottom: 97px;
  margin-top: -112px;
  min-height: 500px;
}


/* Футер */

.page-footer {
  padding-top: 65px;
  padding-bottom: 50px;
  margin-top: 82px;
  background-color: #464646;
}

.footer-top-wrapper {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.logo-footer-wrapper {
  margin-right: auto;
  line-height: 0px;
}


.logo:hover,
.logo:focus {
  opacity: .6
}

.logo:active {
  opacity: .3;
}

.auth-footer {
  display: flex;
  width: 325px;
  height: 35px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.inner-page .auth-footer {
  width: 480px;
}

.auth-footer a {
  color: #fff;
  opacity: .6;
}

.auth-login-footer {
  display: flex;
}

.auth-compare-footer {
  display: flex;
}

.auth-cart-footer {
  display: flex;
}

.auth-footer a:hover,
.auth-footer a:focus {
  opacity: 1;
}

.auth-login-footer:hover::before,
.auth-cart-footer:hover::before,
.auth-compare-footer:hover::before,
.auth-login-footer:focus::before,
.auth-cart-footer:focus::before,
.auth-compare-footer:focus::before {
  opacity: .6;
}

.auth-login-footer:active::before,
.auth-cart-footer:active::before,
.auth-compare-footer:active::before {
  opacity: .3;
}

.auth-footer a:active {
  opacity: .3;
}

.auth-login-footer::before {
  content: '';
  background-image: url('../img/svg/user-yellow.svg');
  height: 12px;
  width: 13px;
  margin-right: 10px;
  margin-top: -4px;
  display: inline-block;
  align-self: center;
}

.auth-compare-footer::before {
  content: '';
  background-image: url('../img/svg/compare-yellow.svg');
  height: 10px;
  width: 10px;
  margin-right: 10px;
  display: inline-block;
  align-self: center;
}

.auth-cart-footer::before {
  content: '';
  background-image: url('../img/svg/cart-yellow.svg');
  height: 12px;
  width: 12px;
  margin-right: 10px;
  margin-top: -4px;
  display: inline-block;
  align-self: center;
}



.footer-middle-wrapper {
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}

.footer-middle-wrapper p {
  margin: 0;
  letter-spacing: normal;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  width: 425px;
  margin: 0;
  margin-top: 3px;
  padding: 0;
  margin-left: -40px;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom-wrapper::before {
  content: '';
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.social-list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  width: 141px;
  margin-left: -55px;
}

.social-list a {
  opacity: .6;
}

.social-list a:hover,
.social-list a:focus {
  opacity: 1;
}

.social-list a:active {
  opacity: .3;
}

.academy-logo {
  line-height: 0px;
}

.academy-logo:hover,
.academy-logo:focus {
  opacity: .6;
}

.academy-logo:active {
  opacity: .3;
}

.slider-list-item {
  display: none;
  justify-content: space-between;
}

.slider-radio:nth-child(1):checked~.slider-list .slider-list-item:nth-child(1),
.slider-radio:nth-child(2):checked~.slider-list .slider-list-item:nth-child(2),
.slider-radio:nth-child(3):checked~.slider-list .slider-list-item:nth-child(3) {
  display: flex;
}

.slide-2 .slider-image-wrapper {
  margin-left: 116px;
}

.slide-1 .slider-image-wrapper {
  margin-left: 90px;
}

.slide-3 .slider-image-wrapper {
  margin-left: 30px;
  margin-top: 65px;
}


.slider-content-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  position: relative;
  width: 500px;
}

.slider-content-wrapper::before {
  content: '';
  width: 100px;
  height: 7px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 37px;
}

.slider-number {
  padding: 0;
  margin: 0;
  text-align: right;
}

.button {
  display: block;
  font-family: 'Gilroy', 'Arial', sans-serif;
  position: relative;
  z-index: 1;
  width: 220px;
  text-align: center;
  padding: 8px 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  border: none;
  background: transparent;
  letter-spacing: 2.15px;
}

.button-slider {
  margin-bottom: 50px;
}

.button::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  z-index: -1;
}

.button:hover::before,
.button:focus::before {
  height: 100%;
}

.button:active {
  opacity: .6;
}

.radio-control {
  position: absolute;
  top: 327px;
  right: 85px;
  display: flex;
  padding: 0;
  margin: 0;
}

.radio-control li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.radio-control li:not(:last-child) {
  margin-right: 20px;
}

.slider-list-item {
  display: none;
}

.slider-radio-1:checked~.slider-list .slide-1,
.slider-radio-2:checked~.slider-list .slide-2,
.slider-radio-3:checked~.slider-list .slide-3 {
  display: flex;
}

.slider-radio-1:checked~.radio-control label[for='slider-radio-1'],
.slider-radio-2:checked~.radio-control label[for='slider-radio-2'],
.slider-radio-3:checked~.radio-control label[for='slider-radio-3'] {
  background-image: url('../img/svg/slider-button.svg');
}

.radio-control label {
  display: block;
  width: 12px;
  height: 12px;
  background-image: url('../img/svg/slider-button-empty.svg');
  background-size: cover;
}

.services {
  background-color: #e5e5e5;
  height: 289px;
  padding-bottom: 70px;
  margin-bottom: 93px;
  /* template */
}

.services-wrapper {
  display: flex;
}

.services-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 85px;
}

.services-list .button {
  display: block;
  padding: 8px 0;
  margin: 0;
  width: 160px;
  margin-top: -4px;
  margin-bottom: 27px;
}

.services-item-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.services-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 116px;
  position: relative;
}

.services-list-wrapper {
  border-right: 7px solid #000000;
  height: 320px;
  margin-top: -100px;
  flex-basis: 284px;
  padding-bottom: 80px;
}

.services-header {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000;
  margin-bottom: 20px;
  margin-top: -27px;
  max-width: 435px;
  letter-spacing: 0.21px;
}

.services-item {
  padding-right: 66px;
  display: none;
}

.services-delivery:checked~.services-item-list .services-delivery-item,
.services-warranty:checked~.services-item-list .services-warranty-item,
.services-credit:checked~.services-item-list .services-credit-item {
  display: flex;
}


.services-delivery:checked~.services-list-wrapper .button-delivery,
.services-warranty:checked~.services-list-wrapper .button-warranty,
.services-credit:checked~.services-list-wrapper .button-credit {
  color: #f7e184;
}

.services-delivery:checked~.services-list-wrapper .button-delivery::before,
.services-warranty:checked~.services-list-wrapper .button-warranty::before,
.services-credit:checked~.services-list-wrapper .button-credit::before {
  background-color: #000000;
  width: 280px;
  height: 100%
}

.services-delivery:checked~.services-item-list .services-item-wrapper::after {
  content: '';
  position: absolute;
  top: -15px;
  right: -280px;
  background-repeat: no-repeat;
  width: 136px;
  height: 164px;
  background-image: url('../img/svg/delivery.svg');
}

.services-warranty:checked~.services-item-list .services-item-wrapper::after {
  content: '';
  position: absolute;
  top: -15px;
  right: -280px;
  background-repeat: no-repeat;
  width: 171px;
  height: 194px;
  background-image: url('../img/svg/warranty.svg')
}

.services-credit:checked~.services-item-list .services-item-wrapper::after {
  content: '';
  position: absolute;
  top: -15px;
  right: -280px;
  background-repeat: no-repeat;
  width: 156px;
  height: 186px;
  background-image: url('../img/svg/credit.svg');
}

.sides {
  margin-bottom: 93px;
}

.sides-list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  list-style: none;
}

.sides-item {
  position: relative;
  height: 100px;
  width: 260px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.sides-item-1 {
  background-image: url('../img/logo-1.png');
}

.sides-item-1:hover,
.sides-item-1:focus {
  background-image: url('../img/logo-1-hover.png');
}

.sides-item-2 {
  background-image: url('../img/logo-2.png');
}

.sides-item-2:hover,
.sides-item-2:focus {
  background-image: url('../img/logo-2-hover.png');
}

.sides-item-3 {
  background-image: url('../img/logo-3.png');
}

.sides-item-3:hover,
.sides-item-3:focus {
  background-image: url('../img/logo-3-hover.png');
}

.sides-item-4 {
  background-image: url('../img/logo-4.png');
}

.sides-item-4:hover,
.sides-item-4:focus {
  background-image: url('../img/logo-4-hover.png');
}

.section-columns .button {
  width: 260px;
  margin-bottom: 0;
}

.modal {
  font-family: 'Gilroy', 'Arial', sans-serif;
  position: fixed;
  z-index: 3;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
  background-color: #fff;
  min-height: 580px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.6);
}

.writeus {
  display: none;
  width: 960px;
  height: 580px;
  padding: 90px 100px;
  top: 50%;
  left: 50%;
  margin-top: -290px;
  margin-left: -480px;
}

.map {
  display: none;
  width: 960px;
  height: 560px;
  background-image: url('../img/map-big.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -480px;
}

.modal-show {
  display: block;
  animation: bounce .6s;
}


.input-wrapper {
  display: flex;
  justify-content: space-between;
}

.input-wrapper label {
  padding: 0;
  margin: 0;
}

.input-wrapper input[type='text'],
.input-wrapper input[type='email'] {
  font-family: 'Open Sans', 'Geneva', sans-serif;
  width: 360px;
  padding: 12px 20px;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  border: 2px solid transparent;
  background-color: #f2f2f2;
  margin-bottom: 40px;
  margin-top: 8px;
}

.input-wrapper input:hover,
.textarea:hover {
  background-color: #eaeaea;
}

.input-wrapper input:focus,
.textarea:focus {
  background-color: #fff;
  outline: none;
  border-color: #f7e296;
}

.input-wrapper input:invalid,
.textarea:invalid {
  background-color: #f6dada;
}

.textarea {
  font-family: 'Open Sans', 'Geneva', sans-serif;
  padding: 12px 20px;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  border: 2px solid transparent;
  background-color: #f2f2f2;
}

.textarea {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 8px;
}

.button-popup {
  margin-bottom: 0;
}

.modal-close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 55px;
  height: 55px;
  background-color: #f7e296;
  border: none;
  border-radius: 50%;
  outline: none;
}

.modal-close::before,
.modal-close::after {
  content: '';
  position: absolute;
  top: 13px;
  left: 27px;
  width: 2px;
  height: 30px;
  background-color: #fff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #f0c52e;
}

.modal-close:active {
  background-color: #faedc0;
}

.catalog-wrapper {
  background-image: linear-gradient(#dcdcdc 70px, #eee 70px), linear-gradient(#eee 70px, #fff 70px);
  background-repeat: no-repeat, no-repeat;
  background-size: 70% 100%, 100% 100%;
}

.catalog-columns {
  display: flex;
}

.filter {
  flex-basis: 268px;
  background-color: #efefef;
}

.filter,
.sort,
.pagination-wrapper {
  background-color: #eee;
}

.sort-header {
  padding: 0;
  margin: 0;
  margin-right: 90px;
  padding-left: 73px;
  font-family: 'Gilroy', 'Arial', sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.91px;
}

.filter-header {
  margin: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  color: #000;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 70px;
  padding: 23px 0 23px 60px;
  background-color: #dcdcdc;
  letter-spacing: 0.91px;
}

.filter-form {
  position: relative;
  padding-top: 10px;
}

.filter-form fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  padding: 25px 35px 35px 0;
  border: none;
}

.filter-legend-color,
.filter-legend-bluetooth {
  margin-bottom: -8px;
}

.filter-form::before {
  content: '';
  background-color: #000000;
  position: absolute;
  top: 0;
  width: 200px;
  height: 2px;
}

.filter-item-price::after,
.filter-item-color::after {
  content: '';
  background-color: #000000;
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 2px;
}

.filter-form legend {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
  letter-spacing: 0.18px;
}

.filter-form label {
  color: #000;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.filter-form input:disabled+label {
  color: #a6a6a6;
}

.filter-item-color ul,
.filter-item-bluetooth ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


.filter-item-color label,
.filter-item-bluetooth label {
  display: block;
  padding-left: 38px;
}

.filter-item-color li,
.filter-item-bluetooth li {
  position: relative;
}

.filter-checkbox+label::before {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url('../img/svg/checkbox-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox:checked+label::before {
  width: 27px;
  background-image: url('../img/svg/checkbox-on.svg');
}

.filter-checkbox:hover+label::before,
.filter-checkbox:focus+label::before {
  opacity: .6;
}

.filter-checkbox:active+label::before {
  width: 27px;
  background-image: url('../img/svg/checkbox-on.svg');
  opacity: 1;
}

.filter-checkbox:checked:active+label::before {
  background-image: url('../img/svg/checkbox-off.svg');
}

.fitler-checkbox:disabled+label::before {
  opacity: .25;
}

.filter-form .filter-item-bluetooth {
  padding-bottom: 0;
  margin-bottom: 31px;
}

.filter-radio+label::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url('../img/svg/radio-off.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-radio:checked+label::before {
  background-image: url('../img/svg/radio-on.svg');
}

.filter-radio:hover+label::before,
.filter-radio:focus+label::before {
  opacity: .6;
}

.filter-radio:active+label::before {
  background-image: url('../img/svg/radio-on.svg');
  opacity: 1;
}

.filter-radio:checked:active+label::before {
  background-image: url('../img/svg/radio-off.svg');
}

.filter-radio:disabled+label::before {
  background-image: url('../img/svg/radio-off.svg');
  opacity: .25;
}

.filter-radio:checked:disabled+label::before {
  background-image: url('../img/svg/radio-on.svg');
}

.button-filter {
  width: 200px;
}

.sort {
  display: flex;
  padding: 23px 0 23px 0;
}


.sort-type,
.sort-arrows {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sort-type {
  width: 500px;
  margin-right: 20px;
}

.sort-type li {
  margin-right: 29px;
}

.sort-type .button {
  font-family: 'Open Sans', 'Geneva', sans-serif;
  margin-top: 2px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  opacity: .3;
  padding: 0;
  width: auto;
  text-transform: none;
  letter-spacing: normal;
}

.sort-type .button:hover,
.sort-type .button:focus {
  opacity: .6;
}

.sort-type .button:active {
  opacity: 1;
}

.sort-type .button::before {
  background: none;
}

.sort-type .button-active {
  opacity: 1;
}

.sort-arrows {
  display: flex;
  justify-content: space-between;
  width: 40px;
}

.sort-arrows-up,
.sort-arrows-down {
  display: block;
  opacity: .2;
  width: 11px;
  height: 10px;
  margin-top: 8px;
  background-image: url('../img/svg/icon-up-dir.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  outline: none;
}

.sort-arrows-down {
  background-image: url('../img/svg/icon-down-dir.svg');
}

.sort-arrows-active {
  opacity: 1;
}

.sort-arrows-down:hover,
.sort-arrows-down-focus {
  opacity: .4;
}


.catalog-items-wrapper {
  padding-bottom: 77px;
  padding-left: 73px;
  background-color: #fff;
  letter-spacing: 0.18px;
}


.catalog {
  padding-top: 67px;
}

.catalog-item-header {
  margin: 0;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

.catalog-items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-items-list a {
  color: #000000;
}

.catalog-items-list a:active {
  color: rgba(0, 0, 0, .3);
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 46px;
}

.catalog-item-new {
  position: relative;
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
}

.catalog-item-misc .button-compare {
  font-family: 'Open Sans', 'Geneva', sans-serif;
  font-weight: 300;
}

.catalog-item-new::before {
  content: 'new';
  text-transform: uppercase;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 63px;
  height: 63px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
  color: rgba(0, 0, 0, .2)
}

.catalog-item:nth-child(3),
.catalog-item:nth-child(4) {
  margin-bottom: 35px;
}

.catalog-item-text {
  display: flex;
  justify-content: space-between;
  order: 1;
}

.catalog-item-link {
  width: 261px;
}

.catalog-item-price {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.16px;
}

.catalog-item-image {
  margin-bottom: 32px;
  height: 380px;
  width: 360px;
}

.catalog-item-misc {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 380px;
  background-color: rgba(238, 238, 238, .7);
}

.catalog-item-image:hover .catalog-item-misc,
.catalog-item-image:focus .catalog-item-misc {
  display: flex;
}

.catalog-item-misc .button-buy {
  width: 200px;
  margin-bottom: 43px;
  margin-bottom: 6px;
  line-height: 40px;
}


.catalog-item-misc .button-compare {
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, .5);
  background: transparent;
  border: none;
  outline: none;
}

.catalog-item-misc .button-compare:hover,
.catalog-item-misc .button-compare:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog-item-misc .button-compare:active {
  color: rgba(0, 0, 0, .2);
}

.filter-form {
  padding-left: 60px;
  padding-right: 28px;
}

.filter-cost-control {
  position: relative;
  width: 200px;
  padding: 10px 6px;
}

.filter-cost-control .filter-control-scale {
  height: 2px;
  background-color: #dbdbdb;
}

.filter-cost-control .filter-control-bar {
  width: 60%;
  height: 2px;
  background-color: #91c02f;
}

.filter-cost-control .filter-cost-toogle {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 23px;
  background-image: url('../img/svg/filter-button.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  outline: none;
  border: none;
  background-color: transparent
}

.filter-cost-toogle:active {
  width: 23px;
  height: 25px;
}


.filter-cost-control .toogle-min {
  left: 0;
}

.filter-cost-control .toogle-max {
  left: 110px;
}

.filter-cost-range {
  display: flex;
  width: 200px;
  margin-left: 5px;
}

.filter-cost-range label,
.filter-cost-range input {
  font-family: 'Open Sans', 'Geneva', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, .2)
}

.filter-cost-range label {
  display: flex;
  width: 90px;
}

.filter-cost-range input {
  width: 65px;
  height: 24px;
  margin-left: 3px;
  background-color: #eee;
  border: none;
}

.catalog-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-navigation a {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-transform: uppercase;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 80px;
  justify-content: space-between;
}

.pagination-list a {
  color: #979797;
  letter-spacing: 0.91px;
}

.pagination-item-current a {
  color: #000000;
}

.pagination-list a:hover,
.pagination-list a:focus {
  color: #666666;
}

.pagination-step a {
  display: block;
  padding: 24px 30px 23px 30px;
  letter-spacing: 0.91px;
}

.pagination-step a:hover,
.pagination-step a:focus {
  background-color: #d9d9d9;
}

.pagination-step a:active {
  color: #979797;
}

.inner-page .page-footer {
  margin-top: 0;
}

.authorized .auth-logoff-footer {
  margin-left: -15px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake .6s;
}
